.homepage-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.product-container {
  width: 30%;
}

.product-container img {
  width: 300px;
  height: 300px;
}

.product-adding-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
